GigEntry/Service References/localhost/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.thatindigogirl.com/samples/2006/06" elementFormDefault="qualified" targetNamespace="http://www.thatindigogirl.com/samples/2006/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContentTypes" />
  <xs:element name="SaveGig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContentTypes" minOccurs="0" name="item" nillable="true" type="q1:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContentTypes" minOccurs="0" name="GetGigResult" nillable="true" type="q2:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>