GigEntry/Service References/gig/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="wcf_expts" elementFormDefault="qualified" targetNamespace="wcf_expts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LinkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkItem" nillable="true" type="tns:LinkItem" />
</xs:schema>