GigEntry/Service References/gig/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContentTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContentTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LinkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_dateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="m_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_id" type="xs:long" />
      <xs:element minOccurs="0" name="m_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkItem" nillable="true" type="tns:LinkItem" />
</xs:schema>